node_modules
.env

# Logs
*.log
npm-debug.log*

# Environment variables


# Node modules
node_modules/

# Build output
dist/
build/

# IDE or editor config files
.vscode/
*.swp

# Miscellaneous
.DS_Store

uploads/
.gitignore
